*{
    margin: 0px;
    padding: 0px;
}
#main{
    position: relative;
    top: 75px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
#Logo{
    display: flex;
    width: 200px;
    justify-content: space-between;
}
nav{
    padding: 15px 20px;
    background-color: #303030;
}
#nav-title{
    font-size: 39px;
    color: white;
}
.nav-link{
    font-size: 26px;
    color: white;
    text-align: center
}
a:link{
    text-decoration: none;
}
.nav-link:hover{
    color: #71C9F9;
    text-decoration: none;
}
#links{
    display: flex;
    justify-content: space-around;
    width: 700px;
    align-items: center;
}
.sub-title{
    font-size: 65px;
    padding-top: 10px;
    text-align: center;
    color: #E8E3E3;
    font-weight: bold;
}
.char-button{
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
.char-button:hover{
    background-color: #535353;
}
#ghoul-container{
    background-image: url(./pictures/Tokyo_Background.jpg);
    background-size: 100% 100%;
    background-position: center - 10px;
    width: 100%;
    height: 635px;

}
#landing-container{
    background-image: url(./pictures/Top-Backgournd.jpg);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 835px;
}
#hero-container{
    background-image: url(./pictures/Hero-Background.png);
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 635px;
}